:root{
    --hue1: hsl(210, 82%, 85%); 
    --hue2: hsl(199, 100%, 71%);
    --hue3: hsl(161, 47%, 70%);

    --white1: hsl(0, 0%, 85%);
    --black1: #1f1f1f;
    --black2: #222120;
    --black3: #2a2a2a;

    --d2l-color-regolith: rgb(65, 64, 63); /*some block backgrounds, table header color*/
    --d2l-color-mica: white; /*some tile borders*/
    --d2l-color-celestine: var(--hue2); /*hyperlinks 1*/
    --d2l-color-celestine-minus-1: var(--hue2); /*hyperlink hover*/
    --d2l-branding-primary-color: var(--hue3); /*top border*/
    --d2l-color-tungsten: hsl(from var(--hue1) h s 75); /*icon color, and some text color*/
    --d2l-color-celestine-plus-2: hsl(from var(--hue1) h 25 35);  /*hover for "content grades assesment" menu*/
    --d2l-color-mica: rgb(173, 173, 173); /*table border*/
}
/*faded out background that appears behind popups*/
.d2l-shim.d2l-shim-opaque{
    background: rgba(0, 0, 0, 0.4) !important;
}
table, p, span{
    color:white !important;
}
/*top banner 1*/
.d2l-navigation-s{
    background-color: var(--black3)!important; }

/*top banner 2*/
.d2l-branding-navigation-background-color{
    background-color: var(--black1) !important; 
}
/*notifications, account settings dropdown list, popups*/
.d2l-navigation-s-notification:nth-of-type(2) *,
.d2l-personal-tools-list,
.ddial_o2{
    background-color: var(--black3) !important;
}

/*D2L BACKGROUND*/
.d2l-body, #d2l_body,
.d2l-tiles-container{
    background-color: var(--black2) !important;
}

/*HOMEPAGE, COURSE HOME PAGE tile color*/
.d2l-tile{
    background-color: var(--black3) !important;
}
/*tile hover*/
.d2l-list-item-action-hover{
    background-color: #404040 !important;
}

/*CONTENT background left*/
.d2l-twopanelselector-side.d2l-twopanelselector-side-sep, 
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep{
    background: var(--black1) !important}

/*CONTENT background right*/
.d2l-box.d2l-box-h.d2l-twopanelselector-main.d2l-page-main{
    background: var(--black2) !important;
}

/*CONTENT block*/
.d2l-collapsepane .d2l-collapsepane-content{
    background-color: var(--black3) !important;
}

/*course selection dropdown menu*/
#courseSelectorId, .d2l-course-selector-item{
    background-color: var(--black3) !important; }

.d2l-course-selector-item.d2l-course-selector-item-pinned{
    background-color: hsl(from var(--hue1) h 20 20) !important; }

/*hover on courses*/
.d2l-course-selector-item:hover{
    background-color: hsl(from var(--hue1) h 40 20) !important;
}
/*discussion posts backgound*/
.d2l-le-disc-post{
    background-color: var(--black3) !important;
}
/*tabs 1 (found in settings -> account settings )*/
.d_tabs_header .d_tabs_c{
background: var(--black3) !important;
}

/*squares on the right side of CONTENT page*/
#d2l_1_22_253, #d2l_1_21_67{
    background-color: rgb(94, 94, 94) !important;
}

/*Content Navigator*/
.d2l-page-collapsepane-content,
.d2l-page-collapsepane-content-inner.d2l-scrollbar,
#ContentNavigator .vui-list > .vui-selected{
    background: var(--black3) !important;
}

/*gradient on CONTENT page*/
#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::before, 
#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::before, 
#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::before, 
#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::before, 
#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::before
{
        background: linear-gradient(to right, rgba(227, 233, 241, 0) 0, 
        hsl(from var(--hue3) h s 20) 400px) !important;
}

/*background for left-side tabs AND bar chart in ASSESSMENT -> Progress*/
.d2l-datalist-nesteditem-accordion .d2l-datalist-nesteditem-accordion > .d2l-datalist-item-content{
    background-color: var(--black3) !important;
    border-color: var(--black3) !important;
}
.d2l-charttooltip,
.d2l-datalist-nesteditem-accordion.d2l-le-DataListItem-Selected > .d2l-datalist-item-content.d2l-datalist-item-content-first{
    background-color: var(--black2) !important;
}

/**background of text (assigments, etc.)**/
#z_j > .dco_c {
    background-color: var(--black2) !important;
}
.dcs_r.vui-changed {
    background-color: var(--black2) !important;
}


/*TEXT*/
.d2l-textblock{/*maintext 2*/
    color:var(--hue3) !important;
}
.d2l-typography, .d2l-textblock-strong{ /*maintext 1*/
    color: var(--white1) !important;
}
.d2l-my-courses-widget { /*courses tiles on the homepage (shadowDOM)*/
    color: var(--black1) !important;
}

/*header hyperlinks*/
.d2l-navigation-s-group, a.d2l-navigation-s-link, a.d2l-navigation-s-link:link, a.d2l-navigation-s-link:visited, div.d2l-navigation-s-item > span, .d2l-navigation-s-group-text {
    color:var(--hue1) !important;
}
.d2l-link { /*hyperlinks 2*/
    color:var(--hue2) !important;
}
.d2l-link:hover, a:hover{ /*hyperlinks 2 hover*/
    filter: contrast(250%) !important;
}

/*TABLES (for grades,)*/
.d2l-table > tbody, .d2l-table > tfoot{
    background-color: var(--d2l-color-regolith);
}

/*ICONS*/
/*Small icons in CONTENT, these two rules below must go together*/
.d2l-container-icon, .d2l-image{ filter: invert() !important; }
.d2l-container-icon .d2l-textblock{ filter: invert() !important; }

/*Quiz invert colors*/
.dsr + #d_content_r_c1{
    filter: invert() !important;
}